*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(221, 221, 221);
    color: black;
}


.site-header, .site-footer{
    background-color: rgb(20, 146, 140);
    color: white;
    padding: 15px 0;
    margin: 0%;

}

.main-navigation ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.main-navigation a{
    color: white;
    text-decoration: none;

}

.main-navigation li{
    padding: 0 15px;
    font-size: 20px;
}
.container{
    max-width: 1200px;
    height: 0 20px;
    margin: auto;
}

.clearfix{
    margin-top: 5px;
    margin-bottom: 5px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.profile-pic{
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 60%;
    /* Distribui de forma uniforme a imagem dentro da borda definida */
    object-fit: cover;
    margin-right: 20px;
}

.projects-grid ul{
    display: flex;
}
.projects-grid li{
    background-color: white;
    border: solid black 2px;
    padding: 0 25px;
    font-size: 20px;
    border-radius: 10px;
    margin-left: auto;
    box-shadow: 0 0 10px #333;
}

.project-info {
    padding: 10px;
}

/* .project-item{
    background-color: white;
    box-shadow: 0 0 10px black;
    border-radius: 5px;

}

.project-img {
width: 100%;
height: 200px;
object-fit: contain;
border-bottom: 3px solid black;

}
    */


