*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(221, 221, 221);
    color: black;
}


.site-header, .site-footer{
    background-color: rgb(20, 146, 140);
    color: white;
    padding: 15px 0;
    margin: 0%;

}

.main-navigation ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.main-navigation a{
    color: white;
    text-decoration: none;

}

.main-navigation li{
    padding: 0 15px;
    font-size: 20px;
}
.container{
    max-width: 1200px;
    height: 0 20px;
    margin: auto;
}

.secion{
    justify-content: center;
    justify-items: auto;
}

/* .imagem-perfil{
    border-radius: 20px;
} */

